# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [12]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica = [-0.08, -0.27, 0.12, -0.3, 0.26, 0.40, 1.02]
relacao_decadas_temperatura_mundial = pd.Series(anomalia_termica)
relacao_decadas_temperatura_mundial

0   -0.08
1   -0.27
2    0.12
3   -0.30
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [13]:

# seu código aqui
decadas_registradas = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
relacao_decadas_temperatura_mundial = pd.Series(anomalia_termica, index= decadas_registradas)
relacao_decadas_temperatura_mundial

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.30
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [30]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr = pd.DataFrame(arr)
arr

             0           1           2
0   105.017583  113.966663   91.512876
1    84.148686  102.915030   99.738484
2    91.118529  104.494511  102.553389
3   103.911387  118.173664   97.342325
4   107.262589   72.440157   97.536058
5   100.082219   92.228081   91.573054
6    98.879108   94.320482  103.176753
7    73.982399   99.406120  104.029945
8    92.751104  108.717719   99.217794
9   113.607992  106.582677   88.223440
10  100.662949   96.955812  113.199757
11   91.766725  110.604556   92.960711
12   80.170175   99.888861  115.929457
13  100.581335  104.260945  102.010181
14  103.222041  103.666263  102.362342
15   98.575968  106.020427  111.819399
16  103.062898  121.521150   94.832221
17   83.034384   94.694533  102.364675
18  106.846772   98.576879  103.444252
19  113.967887   91.083653   97.139446

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [39]:
#seu código aqui
indexacao = list(range(1, 21))
arr.index = indexacao
arr.columns = ['X1', 'X2', 'X3']
arr

            X1          X2          X3
1   105.017583  113.966663   91.512876
2    84.148686  102.915030   99.738484
3    91.118529  104.494511  102.553389
4   103.911387  118.173664   97.342325
5   107.262589   72.440157   97.536058
6   100.082219   92.228081   91.573054
7    98.879108   94.320482  103.176753
8    73.982399   99.406120  104.029945
9    92.751104  108.717719   99.217794
10  113.607992  106.582677   88.223440
11  100.662949   96.955812  113.199757
12   91.766725  110.604556   92.960711
13   80.170175   99.888861  115.929457
14  100.581335  104.260945  102.010181
15  103.222041  103.666263  102.362342
16   98.575968  106.020427  111.819399
17  103.062898  121.521150   94.832221
18   83.034384   94.694533  102.364675
19  106.846772   98.576879  103.444252
20  113.967887   91.083653   97.139446

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [40]:
# seu código aqui
arr['media'] = (arr['X1'] + arr['X2'] + arr['X3']) / 3
arr

            X1          X2          X3       media
1   105.017583  113.966663   91.512876  103.499041
2    84.148686  102.915030   99.738484   95.600733
3    91.118529  104.494511  102.553389   99.388810
4   103.911387  118.173664   97.342325  106.475792
5   107.262589   72.440157   97.536058   92.412935
6   100.082219   92.228081   91.573054   94.627785
7    98.879108   94.320482  103.176753   98.792114
8    73.982399   99.406120  104.029945   92.472821
9    92.751104  108.717719   99.217794  100.228872
10  113.607992  106.582677   88.223440  102.804703
11  100.662949   96.955812  113.199757  103.606173
12   91.766725  110.604556   92.960711   98.443997
13   80.170175   99.888861  115.929457   98.662831
14  100.581335  104.260945  102.010181  102.284154
15  103.222041  103.666263  102.362342  103.083549
16   98.575968  106.020427  111.819399  105.471931
17  103.062898  121.521150   94.832221  106.472090
18   83.034384   94.694533  102.364675   93.364531
19  106.846772   98.576879  103.444252  102.955968
20  113.967887   91.083653   97.139446  100.730329

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [41]:
# seu código aqui
arr['log_med'] = np.log(arr['media'])
arr

            X1          X2          X3       media   log_med
1   105.017583  113.966663   91.512876  103.499041  4.639562
2    84.148686  102.915030   99.738484   95.600733  4.560180
3    91.118529  104.494511  102.553389   99.388810  4.599040
4   103.911387  118.173664   97.342325  106.475792  4.667918
5   107.262589   72.440157   97.536058   92.412935  4.526267
6   100.082219   92.228081   91.573054   94.627785  4.549951
7    98.879108   94.320482  103.176753   98.792114  4.593018
8    73.982399   99.406120  104.029945   92.472821  4.526915
9    92.751104  108.717719   99.217794  100.228872  4.607456
10  113.607992  106.582677   88.223440  102.804703  4.632831
11  100.662949   96.955812  113.199757  103.606173  4.640597
12   91.766725  110.604556   92.960711   98.443997  4.589488
13   80.170175   99.888861  115.929457   98.662831  4.591708
14  100.581335  104.260945  102.010181  102.284154  4.627755
15  103.222041  103.666263  102.362342  103.083549  4.635540
16   98.575968  106.020427  111.819399  105.471931  4.658445
17  103.062898  121.521150   94.832221  106.472090  4.667883
18   83.034384   94.694533  102.364675   93.364531  4.536512
19  106.846772   98.576879  103.444252  102.955968  4.634301
20  113.967887   91.083653   97.139446  100.730329  4.612447